name: Create release

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - id: commit
      uses: pr-mpt/actions-commit-hash@v2
    - name: Set Artifact Name
      shell: bash
      run: echo "ArtifactName=emu-viewer--${{ matrix.os }}--${{ steps.commit.outputs.short }}" >> $GITHUB_ENV
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
    - name: Setup Dependencies
      shell: bash
      run: |
        if [[ "${{ runner.os }}" == "Windows" ]]; then
          choco install make
        fi
        make venv
        make setup
    - run: make build
    - name: zip for ${{ env.ArtifactName }}
      uses: thedoctor0/zip-release@0.7.1
      with:
        filename: '${{ env.ArtifactName }}.zip'
        directory: ./dist
        path: '*'
    - name: Upload .zip as artifact
      uses: actions/upload-artifact@v3
      working-directory: ./dist
      with:
        name: ${{ env.ArtifactName }}
        path: ./dist/${{ env.ArtifactName }}.zip

  release:
    name: Create a release from artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
    - id: commit
      uses: pr-mpt/actions-commit-hash@v2
    - name: Download artifacts
      uses: actions/download-artifact@v3
    - name: Combine artifacts
      run: |
        mkdir combined_artifacts
        cp -R */* combined_artifacts/
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.commit.outputs.short }}
        generate_release_notes: true
        files: combined_artifacts/*.zip
        prerelease: true
